<article>
    <div class = "title">
        <a href="{{title}}" target="_blank">{{title}}</a>
        <p class = "userInfo">Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class = "content">
        <p>{{content}}</p>
    </div>
    
</article>